# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/not working
/archive
*.png
*.ico
*.env
*.htaccess
*.sync.ffs_db
*.ttf
*.sfd
/index.php
/sync.ffs_db
/src/assets/js/pinia
/src/assets/js/vue-demi
/src/assets/js/vue3-sfc-loader
/src/assets/icons
/src/assets/images
/src/assets/js
grid.html
sync.ffs_lock
