body {
  padding: 0px;
  margin: 0px;
}
#loader-container {
  display: grid;
  place-items: center;
  height: 95vh;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  width: 100vw;
}

.loader {
  border: 14px solid #f3f3f3;
  /* border: 16px solid #f3f3f3; */
  border-radius: 50%;
  border-top: 14px solid #3498db;
  width: 122px;
  height: 122px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* This is for buttons with minimal styling */
.spin {
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.fadeIn {
  -webkit-animation: fadeIn ease 2s; /* Safari */
  animation: fadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
